@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .section-center {
        @apply mx-auto container max-w-sm md:max-w-xl
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

}

.main {
    @apply h-screen w-screen bg-zinc-300 grid place-items-center
}


.calculator {
    @apply bg-white rounded-2xl rounded-br-[100px] m-0 shadow-xl
}


.calculator-center {
    @apply w-full px-6 py-14 flex flex-col space-y-5
}

.calculator-input {
    @apply flex flex-row uppercase gap-7 md:w-[70%]
}

.input-title {
    @apply tracking-widest text-base text-gray-500 mb-1 md:text-sm
}

.input-control {
    @apply w-full border  focus:outline-none rounded-md p-3
}


.input-error {
    @apply text-[9px] capitalize font-sans italic text-primary-light-red invisible
}

.input-title.active {
    @apply text-primary-light-red
}
.input-control.active {
    @apply border border-primary-light-red
}

.input-error.active {
    @apply visible
}


.calculator-btn-container {
    @apply relative py-6 md:py-3
}

.calc-separator {
    @apply border border-accent-gray
}

.calc-btn {
    @apply h-14 w-14 bg-primary-purple absolute inset-0 m-auto hover:bg-black hover:border-white
    rounded-full p-3 md:mr-0 hover:rotate-180 duration-500 cursor-pointer
}

.calculator-output-text {
    @apply text-5xl mb-1 md:text-7xl md:mb-0 italic font-bold
}

.output-amount {
    @apply text-primary-purple pr-3
}


.calc-btn-img {
    @apply w-full
}